<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="container gnb">
        <a href="/">HOME</a> 
        <a href="/about">ABOUT</a>
    </nav>
    
    <div class="container box">
        <h1>TO DO LIST</h1>
        <form action="/create" method="post">
            <input type="text" name="post" placeholder="글을 입력하세요">
            <button type="submit">글쓰기</button>
        </form>
    </div>
    <section class="container list">
        <!-- 올림차순 -->
        <h2>글 목록</h2>
        <% for (let i = 0; i < posts.length; i++){ %>
            <ul>
                <li>
                    <%= [i] %> .
                    <%= posts[i]  %>
                </li>
            </ul>
        <% } %> 
    </section>
    <section class="container list0">
        <!-- 내림차순 -->
        <h2>글 목록</h2>
        <% for (let i = posts.length - 1 ; i >= 0; i--){ %>
            <ul>
                <li>
                    <%= [i] %> .
                    <%= posts[i]  %>
                </li>
            </ul>
        <% } %> 
    </section>

    <div class="container box2">
        <h1>게시판</h1>
        <form action="/create1" method="post">
            <input type="text" name="post1" placeholder="글을 입력하세요">
            <button type="submit">글쓰기</button>
        </form>
    </div>
    <section class="container list1">
        <h2>글 목록</h2>
        <% for(let a = 0; a < memo.length; a++){ %>
            <ul>
                <li><%= memo[a]  %></li>
            </ul>
        
        <% } %> 
         
    </section>
</body>
</html>